<div class="container">
  <div class="row text-center mb-lg-4">
    <h1 class="display-3 fw-bold text-capitalize">Get on touch</h1>
    <div class="heading-line"></div>
  </div>
  <div class="row text-white main">
    <div class="col-12 col-lg-6 g-1">
      <div class="cta-info w-100">
        <h4 class="display-4 fw-bold">
          Complete the form to contact <span class="d-block">Gde-G</span>
        </h4>
        <p class="lh-lg mt-5 fs-5">
          I'm excited to hear from you and explore how we can work together to bring your
          project to life. Whether you have a specific project in mind or just want
          to discuss potential opportunities, please don't hesitate to reach out.
        </p>

      </div>
    </div>
    <div class="col-12 col-lg-6 g-1">
      <div class="form w-100" id="consult-form">
        {% include 'partials/contact-form.html' %}
      </div>
    </div>
  </div>
</div>