@use '../custom' as *;
@use '../components/mixins' as *;

.certificates{
    color: $white;
    width: 100%;
    padding: 0rem !important;
    border-top-left-radius: 6.5px;
    border-top-right-radius: 6.5px;
    &-header {
        color: $white;
        position: relative;
        width: 100%;
        @include gradient;
        border-top-left-radius: 6.5px;
        border-top-right-radius: 6.5px;
        padding: 1rem;

        .btn-dismiss-modal {
            position: absolute;
            top: 15px;
            right: 15px;
        }
    }
    .card{
        @include gradient;
        height: 290px;
        @media (min-width:332px) {
            height: 340px;
        }
        @media (min-width:400px) {
            height: 435px;
        }
        @media (min-width:575px) {
            height: 290px;
        }
        &.reverse{
            @include gradient-reverse;
        }
    }
}
    