@use '../custom' as *;
@use '../components/mixins' as *;
@use '../components/typography' as *;
.degree {
    background: rgb(0, 0, 43);
    background: linear-gradient(0deg, rgba(64, 236, 204, 0.91) 0%, rgb(139, 175, 179) 33%, #adb5bd 100%);
    width: 100%;
    height: 6rem;
    padding: 0;
    margin: -0.5rem 0;
}

.footer {
    padding: 1rem;
    @include gradient;
    color: $white;
}

.footer-bottom {
    &__copyright {
        color: $gray-200;
        font-weight: 400;

        a {
            color: $gray-100;
            text-decoration: none;

            &:hover {
                color: $cyan-light;
                text-decoration: underline;
            }
        }
    }
}