@use '../custom' as *;
@use '../components/mixins' as *;

nav.shadow{
    box-shadow: 0.2rem 0.5rem 1rem rgba($cyan-light, 1.0) !important;
}
.nav-item.flag{
    width: 33%;
    padding: 0;
}
.nav-flag{
    width: 30px;
    border-radius: 50%;
    box-shadow: 0px 0px 6px 0px $cyan-light;
    -webkit-box-shadow: 0px 0px 6px 0px $cyan-light;
    -moz-box-shadow: 0px 0px 6px 0px $cyan-light;
    &:hover{
        padding: 0px;
        box-shadow: 0px 0px 12px 0px $white;
        -webkit-box-shadow: 0px 0px 12px 0px $white;
        -moz-box-shadow: 0px 0px 12px 0px $white;
    }
}
.menu{
    @include gradient;
    li{
        padding: 0 .7rem;
        a{
            color: $white;
            text-transform: capitalize;
            font-weight: 500;
            font-size: 1.2rem;
        }
        a:hover{
            color: $cyan-light;
            font-weight: 900;
        }
    }
}