@use '../custom' as *;
@use '../components/mixins' as *;

//Button Navbar
.btn-rounded,
.btn-rounded-reverse {
    width: auto;
    position: relative;
    padding: 0.43rem 3.5rem 0.43rem 1rem;
    font-weight: 700;
    margin: 0;
    border: 0.01rem solid rgba($white, 0.6);
    background-color: $white;
    transition: all .5s linear;
    text-align: center;
    vertical-align: middle;
    @media (min-width: 992px){
        padding: 0.93rem 3.5rem 0.93rem 1rem;
    }
    span {
        position: absolute;
        background-color: $primary;
        width: 2rem;
        height: 2rem;
        top: 50%;
        right: 5px;
        transform: translateY(-50%);
        border-radius: 50%;
        transition: inherit;
        @media (min-width: 992px) {
            width: 2.5rem;
            height: 2.5rem;
        }
        i {
            color: $white;
            font-size: 0.9rem;
            line-height: 2rem;
            transition: inherit;
            @media (min-width: 992px) {
                font-size: 1rem;
                line-height: 2.5rem;
            }
        }
    }
}

.hide-down-lg {
    @include media-breakpoint-down(lg) {
        display: none;
    }
}

.btn-rounded-reverse>span {
    background-color: $secondary;
}

.btn-rounded:hover {
    @include gradient;
    color: $white;
    border: 0.1rem solid $cyan-light ;

    span {
        background-color: $white;

        i {
            color: $primary;
        }
    }
}

.btn-rounded-reverse:hover {
    @include gradient-reverse;
    color: $white;
    border: 0.1rem solid $blue-light ;

    span {
        background-color: $white;

        i {
            color: $secondary;
        }
    }
}